* {
    margin: 0;
}

.container {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Colombus_Isle.JPG/1599px-Colombus_Isle.JPG?20140713144334');/*Lien vers l'image*/
  
    background-size: cover;/*Définit la taille des images d'arrière-plan. Avec la valeur "cover", l'image est redimensionnée pour être aussi grande que possible et pour conserver ses proportions.*/
  
    height: 100vh;/*Définit la hauteur d'un élément en fonction de la hauteur de la fenêtre visible (viewport). "100vh" signifie que la hauteur de l'élément sera égale à 100% de la hauteur de la fenêtre visible*/
}

.title {
    color: #ffffff;
    font-size: 3rem;
    display: block;
    position: absolute;
    width: fit-content;
    top: 200px;
    left: 50%; 
    translate: -50%;
}

.content {
    color: #ffffff;
    width: 500px;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.487);
    border-radius: 20px;
    position: absolute;
    top: 300px;
    left: 50%; 
    translate: -50%;
}
